body {
    background-color:black;
    color: white;
    text-align: center;
    width: min(100% - 2rem, 1100px);
    margin: auto;
}

.columnGrid {
    display: grid;
    grid-auto-flow: column;
}

.dollDisplay {
    outline: auto;
    margin: 5px;
    padding: 5px;
}

.rowGrid {
    display:grid;
    grid-auto-flow: row;
}

.selectName {
    display: grid;
    font-family: Shippori Mincho B1, serif;
    font-size: 25px;
    grid-auto-flow: column;
}

.selectName > div {
    margin: 5px;
}

.nameSelect {
    grid-column-start: 1;
    grid-column-end: 10;
}

select {  
    background-color:#f0b000;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius:2px;
    padding: 5px;
    color: black;
    width: 100%;
    font-size: 17px;
}

.selectParam {
    display: grid;
    grid-auto-flow: column;
}

.selectParam > div {
    margin: 5px;
}

#tiles {
    padding: 5px;
}

.dataDisplay {
    display: grid;
    grid-auto-flow: column;
    font-family: 'Yantramanav', sans-serif;
    padding: 5px;
}

.numDisplay {
    display: grid;
    grid-auto-flow: row;
}

.warning {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.warning .warningText {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.warning:hover .warningText {
    visibility: visible;
}

.skillInfo {
    position: relative;
    display: inline-block;
}

.skillInfo .skillInfoText {
    visibility: hidden;
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -99px;
    background-color: dimgray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.skillInfo:hover .skillInfoText {
    visibility: visible;
}