body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
    width: 97%;
    background-color: #404040;
}

.name-container {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 30px;
    margin: 5px;
}

select {  
    background-color:#f0b000;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius:2px;
    border:none;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    font-size: 20px;
    color: black;
}

.displayStats{
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
}

.dropdown-container{
    display:grid;
    grid-auto-flow: column;
    min-width: 270px;
}

.col-container {
    display:grid;
    background-color: gray;
    margin: 2px;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-auto-flow:column;
}
  
.grid-container > div {
    background-color: #404040;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.displayStats {
    color: white;
}

#fairySearch{
    margin-bottom: 10px;
}

.error {
    width: 100%;
    background-color: red;
    font-size: 20px;
    color: white;
    text-align: center;
}